<footer class="site-footer">
    <div class="container">
        <div class="row justify-content-center">
            <p style="text-decoration: underline;">
                <a target="_blank" href="https://www.facebook.com/profile.php?id=100007281123028">Facebook</a> |
                <a target="_blank" href="https://www.instagram.com/nicholasng98/">Instagram</a> |
                <a target="_blank" href="https://github.com/nicholasng1998"> Github</a>
            </p>
        </div>
    </div>
</footer>