<div class="site-section" id="about-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade">
                <h2 class="section-title mb-3">My Resume</h2>
            </div>
        </div>

        <div class="item-page">
            <div class="contentarea normal" id="item" notranslate="">
                <div class="row snippet-profile-001">
                    <div class="col-sm-2"><img data-no-retina="true" alt="my_picture" src="assets/images/formal_me.jpg"
                            style="border-radius: 50%; width: 150px;" loading="auto"></div>
                    <div class="col-sm-10">
                        <h1>Ng Chan Han Nicholas<br></h1>
                        <p><span style="font-size: 18px;">Bachelor of Computer Science (Hons) with Specialization in
                                Data Science</span></p>
                        <p><span style="font-size: 18px;"><a href="mailto:chng_nicholas98@gmail.com" target="_blank"
                                    rel="nofollow noopener noreferrer">chng_nicholas98@gmail.com</a>&nbsp;</span></p>
                        <p><span style="font-size: 18px;">(+60) 18-9022215</span></p>
                    </div>
                </div>
                <div class="row snippet-experiences-013">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1><b style="font-size: 30px;">Working Experience</b></h1>
                            </div>
                        </div>

                        <div class="row" title="">
                            <div class="col-xs-2 col-sm-1 item-bullet"></div>
                            <div class="col-xs-10 col-sm-11 item">
                                <h3><span style="font-size: 22px;">Software Engineer (Intern) @ Inventech Solution,
                                        Malaysia<br>Apr 2019 - May 2019</span><br></h3>
                                <p></p>
                                <ul>
                                    <li><span style="font-size: 18px;">Frontend and backend development on the online
                                            working space service platform.<br>
                                        </span>
                                    </li>
                                    <li><span style="font-size: 18px;">Experienced Back-End Programming Languages &
                                            Tools:
                                            <ul>
                                                <li>Java, Java Spring MVC, Laravel PHP</li>
                                            </ul>
                                        </span>
                                    </li>
                                    <li><span style="font-size: 18px;">Experienced Front-End Programming Languages &
                                            Tools: <ul>
                                                <li>HTML, CSS, JavaScript, Angular 8 JS, TypeScript</li>
                                            </ul> </span></li>
                                </ul>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row snippet-features-001">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1><b>Projects</b><br></h1>
                            </div>
                        </div>
                        <div class="row" title="">
                            <div class="col-sm-12 item">
                                <p style="font-size: 20px;"><span style="font-size: 20px;"><b
                                            style="font-size: 22px;">[Algorithm Analysis] Binary Tree vs Hash Table
                                            Algorithm Analysis</b></span></p>
                                <ul>
                                    <span style="font-size: 18px;">
                                        <li>
                                            Perform searching process from a .csv file which contains 200k of records
                                            and get domain name from an IP address using binary tree and hash table
                                            algorithm. Compare their running time and reported in document.
                                        </li>
                                        <li>
                                            Using C++
                                        </li>
                                    </span>
                                </ul>

                                <p style="font-size: 20px;"><span style="font-size: 20px;"><b
                                            style="font-size: 22px;">[Own Project] House Unit Rental Expenses Per Renter
                                            Calculator</b></span></p>
                                <ul>
                                    <span style="font-size: 18px;">
                                        <li>
                                            Passing some parameters such as wi-fi, water, electric’s bill, perform
                                            calculation to get the rental fee of every renter and auto-generate a PDF
                                            format report. This program is in .exe format.
                                        </li>
                                        <li>
                                            Using Python, PyInstaller, ReportLab
                                        </li>
                                    </span>
                                </ul>

                                <p style="font-size: 20px;"><span style="font-size: 20px;"><b
                                            style="font-size: 22px;">[Web Development] Automated Travel Itinerary
                                            Planning and Recommendation System</b></span></p>
                                <ul>
                                    <span style="font-size: 18px;">
                                        <li>
                                            This is my final year project title. I named the program as TakeLead. In
                                            simple word, TakeLead will generate a full travel itinerary to user in just
                                            one mouse click. Activity recommendation features are provided.
                                        </li>
                                        <li>
                                            Using Python, Django, XML, HTML, CSS, Postgresql, JavaScript (JQuery, Ajax)
                                        </li>
                                    </span>
                                </ul>

                                <p style="font-size: 20px;"><span style="font-size: 20px;"><b
                                            style="font-size: 22px;">[Web Scraping] Scrape Real World Data for Own
                                            Project Testing</b></span></p>
                                <ul>
                                    <span style="font-size: 18px;">
                                        <li>
                                            Write web scraping algorithm from scratch and perform scraping process from
                                            an online travel website.
                                        </li>
                                        <li>
                                            Using Python, Selenium, JavaScript
                                        </li>
                                    </span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row snippet-features-001">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1><b>Language & Techs</b><br></h1>
                            </div>
                        </div>
                        <div class="row" title="">
                            <div class="col-sm-12 item">
                                <p style="font-size: 20px;"><span style="font-size: 20px;"><b
                                            style="font-size: 22px;">Tech:</b></span></p>
                                <ul>
                                    <span style="font-size: 18px;">
                                        <li>
                                            Web development: Java Spring, Python Django, HTML, XML, CSS, JavaScript
                                            (JQuery, Ajax)
                                        </li>
                                        <li>
                                            Programming Languages: Python, Java, C++, SQL
                                        </li>
                                        <li>
                                            Software: Adobe Audition, Android Studio, Tableau, Hadoop
                                        </li>
                                        <li>
                                            IDE: Eclipse, PyCharm, Sublime Text 3, VScode
                                        </li>
                                    </span>
                                </ul>

                                <p style="font-size: 20px;"><span style="font-size: 20px;"><b
                                            style="font-size: 22px;">Languages:</b></span></p>
                                <ul>
                                    <span style="font-size: 18px;">
                                        <li>
                                            English, Chinese (Mandarin & Cantonese), Malay
                                        </li>
                                        <li>
                                            Native Language: Cantonese
                                        </li>
                                    </span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row snippet-features-001">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1><b>Additional Experiences:</b><br></h1>
                            </div>
                        </div>
                        <div class="row" title="">
                            <div class="col-sm-12 item">
                                <ul>
                                    <span style="font-size: 18px;">
                                        <li>
                                            Mandarin Slot Manager of Radio MMU, Deejay Club 2017/2018
                                        </li>
                                        <li>
                                            Vice President of Radio MMU, Deejay Club 2018/2019
                                        </li>
                                        <li>
                                            Emcee Manager of Radio MMU 18th Carnival Night (A Glimpse Through Time)
                                        </li>
                                        <li>
                                            Participant of Northern Malaysia Mandarin Debate Tournament - 2016
                                        </li>
                                        <li>
                                            “Run The Beats” Night Dancing Performer – 2016
                                        </li>
                                        <li>
                                            “Career Fair 2019” Technical Working Committee
                                        </li>
                                        <li>
                                            “Career Fair 2020” Assistant Manager of Technical Department
                                        </li>
                                    </span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>